<div class="bg-white/90 flex items-center justify-center">
  <div class="w-2/3 h-full items-center justify-center">
    <div class="flex flex-col justify-around h-full">
      <img
        src="./images/Lineas Auxiliares/golder-divider.png"
        alt="linea"
        class="h-[10%] mb-10"
      />

      <ng-content select="[header]"></ng-content>

      <ng-content select="[content]"></ng-content>

      <img
        src="./images/Lineas Auxiliares/golder-divider.png"
        alt="linea"
        class="h-[10%] mb-10"
      />
    </div>
  </div>
</div>
