<div class="bg-white/90 text-black pb-10 h-full">
  <div class="flex justify-between items-center mx-56 p-10">
    <h1 class="text-5xl">RESERVA <span class="font-bold">ONLINE</span></h1>

    <div class="flex flex-row gap-4">
      <p-floatlabel variant="in" class="text-xs">
        <p-datepicker
          [(ngModel)]="rangeDates"
          selectionMode="range"
          [readonlyInput]="true"
          [showIcon]="true"
          [iconDisplay]="'input'"
        />
        <label for="title-date-label">Fecha Llegada - Fecha Salida</label>
      </p-floatlabel>
      <p-button label="Buscar" severity="warn" />
    </div>
  </div>

  <div class="breadcumbs bg-white w-full p-4">
    <div class="mx-56">
      <span>Reservar > Datos de Pago > Confirmación</span>
    </div>
  </div>

  <div
    class="flex flex-row justify-between items-center bg-white my-4 p-4 mx-56"
  >
    <h4>
      Selección de habitaciones <span class="font-bold">Hotel Royal</span>
    </h4>
    <span class="font-semibold">16/10/2024 - 18/10/2024 ( 2 Noches)</span>
  </div>

  <div class="grid grid-cols-6 gap-4 mx-56">
    <div class="bg-white col-span-4 p-4">
      <!-- Habitacion -->
      <div class="flex flex-row">
        <img
          src="./images/Habitaciones/d-interior-de-dormitorio-oscuro-paredes-negras-lujosa-habitación-apartamento-idea-hotel-para-el-diseño-grandes-camas-y-plantas-273831504.webp"
          alt="habitacion"
          class="w-[500px] h-[400px]"
        />

        <div class="flex flex-col gap-2 items-start justify-center p-4">
          <span class="font-bold text-2xl">Deluxe Matrimonial</span>
          <span class="font-semibold">1 cama Queen. Baño privado </span>

          <ul class="flex flex-wrap">
            <li class="w-1/2 p-1">
              <i
                class="pi pi-check mr-1"
                style="font-size: 1rem; color: green"
              ></i
              >Sabanas y toallas
            </li>
            <li class="w-1/2 p-1">
              <i
                class="pi pi-check mr-1"
                style="font-size: 1rem; color: green"
              ></i
              >Armarios
            </li>
            <li class="w-1/2 p-1">
              <i
                class="pi pi-check mr-1"
                style="font-size: 1rem; color: green"
              ></i
              >Amenities
            </li>
            <li class="w-1/2 p-1">
              <i
                class="pi pi-check mr-1"
                style="font-size: 1rem; color: green"
              ></i
              >Silla
            </li>
            <li class="w-1/2 p-1">
              <i
                class="pi pi-check mr-1"
                style="font-size: 1rem; color: green"
              ></i
              >Internet
            </li>
            <li class="w-1/2 p-1">
              <i
                class="pi pi-check mr-1"
                style="font-size: 1rem; color: green"
              ></i
              >Agua caliente
            </li>
            <li class="w-1/2 p-1">
              <i
                class="pi pi-check mr-1"
                style="font-size: 1rem; color: green"
              ></i
              >Toallas
            </li>
            <li class="w-1/2 p-1">
              <i
                class="pi pi-check mr-1"
                style="font-size: 1rem; color: green"
              ></i
              >Escritorio
            </li>
            <li class="w-1/2 p-1">
              <i
                class="pi pi-check mr-1"
                style="font-size: 1rem; color: green"
              ></i
              >Vistas
            </li>
            <li class="w-1/2 p-1">
              <i
                class="pi pi-check mr-1"
                style="font-size: 1rem; color: green"
              ></i
              >Cortinas
            </li>
          </ul>
        </div>
      </div>

      <!-- Tarifa -->
      <div class="grid grid-cols-4 items-center">
        <span class="text-3xl font-bold">Tarifa estandar</span>
        <div class="flex flex-col col-span-3 gap-3">
          <div class="flex flex-row justify-between items-center w-full">
            <div class="flex flex-col justify-center items-center">
              <span>Ocupación</span>
              <span>1 personas</span>
            </div>
            <div class="flex flex-col gap-2 items-center justify-center">
              <span class="text-green-600">Antes:US$80</span>
              <span>Ahorra un 50 %</span>
            </div>
            <div class="flex flex-col items-center justify-center">
              <span class="text-green-600">US$40</span>
              <span class="text-blue-600">Precio</span>
              <span class="text-blue-600">1 Noches</span>
            </div>
            <button class="px-4 py-2 h-fit bg-green-600 text-white rounded-md">
              Añadir
            </button>
          </div>
          <div class="flex flex-row justify-between items-center w-full">
            <div class="flex flex-col justify-center items-center">
              <span>Ocupación</span>
              <span>1 personas</span>
            </div>
            <div class="flex flex-col gap-2 items-center justify-center">
              <span class="text-green-600">Antes:US$90</span>
              <span>Ahorra un 50 %</span>
            </div>
            <div class="flex flex-col items-center justify-center">
              <span class="text-green-600">US$50</span>
              <span class="text-blue-600">Precio</span>
              <span class="text-blue-600">1 Noches</span>
            </div>
            <button class="px-4 py-2 h-fit bg-green-600 text-white rounded-md">
              Añadir
            </button>
          </div>
          <div class="flex flex-row justify-between items-center w-full">
            <div class="flex flex-col justify-center items-center">
              <span>Ocupación</span>
              <span>1 personas</span>
            </div>
            <div class="flex flex-col gap-2 items-center justify-center">
              <span class="text-green-600">Antes:US$100</span>
              <span>Ahorra un 50 %</span>
            </div>
            <div class="flex flex-col items-center justify-center">
              <span class="text-green-600">US$60</span>
              <span class="text-blue-600">Precio</span>
              <span class="text-blue-600">1 Noches</span>
            </div>
            <button class="px-4 py-2 h-fit bg-green-600 text-white rounded-md">
              Añadir
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-2">
      <div class="flex flex-col w-full">
        <div class="flex flex-col">
          <div class="bg-white p-4 text-center">
            <span class="uppercase font-semibold text-xl">Hotel Royal</span>
          </div>
          <div class="bg-yellow-600/20 text-center p-2">
            <img
              src="./images/Otros/cart.png"
              alt="cart"
              class="h-20 w-20 mx-auto"
            />
            <span class="font-semibold text-xl">Carrito Vacio</span>
          </div>
        </div>
      </div>

      <div class="flex flex-col mt-4">
        <div class="bg-green-700/80 p-2 text-center">
          <span class="text-xl font-bold text-white">Con Reserva directa</span>
        </div>
        <div class="flex flex-row gap-4 bg-stone-700 p-4 text-white">
          <div class="flex flex-col">
            <p>Nuestro precio incluye:</p>
            <ul>
              <li class="text-xs">
                <i class="pi pi-truck" style="font-size: 12px"></i> Reserva sin
                intermediario
              </li>
              <li class="text-xs">
                <i class="pi pi-tag" style="font-size: 12px"></i> Mejor precio
                garantizado
              </li>
              <li class="text-xs">
                <i class="pi pi-shield" style="font-size: 12px"></i> Reserva
                segura, datos protegidos
              </li>
            </ul>
          </div>
          <span class="text-3xl font-bold">US$ 33.3</span>
        </div>
      </div>

      <div class="w-full flex items-center justify-center mt-4">
        <button class="uppercase px-4 py-2 text-xl font-bold bg-green-700 rounded-lg text-white w-full mx-4">
          Reservar
        </button>
      </div>
    </div>
  </div>
</div>
