<app-banner-info
  [title]="'Actividades'"
  [description]="
    'Te invitamos a ser partícipe de una grandiosa experiencia turística realizando las posibles actividades que puedas realizar dentro y cerca a la Laguna de Huacachina. Organizamos cada actividad de forma especial pensando en ti.  '
  "
  [breadcrumb]="'Actividades'"
/>
<app-postbanner-design>
  <div content class="h-full">
    <div class="grid grid-cols-1 sm:grid-cols-2 bg-white rounded-md p-4">
      <img
        src="./images/Actividades/bicicletas-huacachina.jpg"
        alt="bicicleta"
        class="w-full h-[525px] object-cover"
      />
      <div class="flex flex-col text-black justify-center w-2/3 mx-auto gap-6">
        <h2 class="font-bold text-4xl">Bicicletas</h2>
        <p class="font-semibold">
          Descubre los alrededores del hotel en bicicleta, recorre menos de 2km
          para llegar hasta La Laguna de Huacachina.
        </p>
      </div>

      <div class="flex flex-col text-black justify-center w-2/3 mx-auto gap-6">
        <h2 class="font-bold text-4xl">Bicicletas</h2>
        <p class="font-semibold">
          Descubre los alrededores del hotel en bicicleta, recorre menos de 2km
          para llegar hasta La Laguna de Huacachina.
        </p>
      </div>
      <img
        src="./images/Actividades/ica-dunas-950x628.jpeg"
        alt="bicicleta"
        class="w-full h-[525px] object-cover"
      />

      <img
        src="./images/Actividades/huacachina-oasis-950x713.jpeg"
        alt="bicicleta"
        class="w-full h-[525px] object-cover"
      />
      <div class="flex flex-col text-black justify-center w-2/3 mx-auto gap-6">
        <h2 class="font-bold text-4xl">Parapente</h2>
        <p class="font-semibold">
          Vuela por las majestuosas dunas del desierto de Ica y obtén una vista
          panorámica de la Laguna de Huacachina durante el sunset
        </p>
      </div>

      <div class="flex flex-col text-black justify-center w-2/3 mx-auto gap-6">
        <h2 class="font-bold text-4xl">Tours</h2>
        <p class="font-semibold">
          Vive grandes experiencias y realiza deportes de aventura. Además,
          visita lugares mágicos como el Cañón de los Pérdidos, La Laguna de
          Huacachina, Las Brujas de Cachiche y las bodegas de Pisco & Vino.
        </p>
      </div>
      <img
        src="./images/Actividades/tour-huacachina.jpeg"
        alt="bicicleta"
        class="w-full h-[525px] object-cover"
      />

      <img
        src="./images/Actividades/blog-6-950x634.jpg"
        alt="bicicleta"
        class="w-full h-[525px] object-cover"
      />
      <div class="flex flex-col text-black justify-center w-2/3 mx-auto gap-6">
        <h2 class="font-bold text-4xl">Camping</h2>
        <p class="font-semibold">
          Conoce la magia de la noche en el desierto y disfruta de una
          experiencia inolvidable acampando una noche bajo las estrellas.
        </p>
      </div>

      <div class="flex flex-col text-black justify-center w-2/3 mx-auto gap-6">
        <h2 class="font-bold text-4xl">Eventos</h2>
        <p class="font-semibold">
          Realizamos eventos corporativos o sociales en nuestras modernas
          instalaciones, con la mejor atención y planificación de nuestro equipo
          especializado.
        </p>
      </div>
      <img
        src="./images/Actividades/service-3-950x1425.jpg"
        alt="bicicleta"
        class="w-full h-[525px] object-cover"
      />
    </div>

    <div>
      <h2 class="text-3xl font-bold text-center text-black my-20">
        Alrededor del Hotel
      </h2>

      <div class="grid grid-cols-3 gap-4">
        <div class="bg-white drop-shadow-sm p-4 relative">
          <img
            src="./images/Actividades/service-1-950x1425.jpg"
            alt="img"
            class="w-full h-auto object-cover"
          />
          <button
            class="absolute bottom-4 left-1/2 transform -translate-x-1/2 bg-white w-2/3 text-black font-semibold py-2 px-4 rounded-md mb-4 shadow-md"
          >
            Restobar
          </button>
        </div>
        <div class="bg-white drop-shadow-sm p-4 relative">
          <img
            src="./images/Actividades/Captura de pantalla 2024-10-15 023925.png"
            alt="img"
            class="w-full h-full object-cover"
          />
          <button
            class="absolute bottom-4 left-1/2 transform -translate-x-1/2 bg-white w-2/3 text-black font-semibold py-2 px-4 rounded-md mb-4 shadow-md"
          >
            Veterinaria
          </button>
        </div>
        <div class="bg-white drop-shadow-sm p-4 relative">
          <img
            src="./images/Actividades/service-6-950x1473.jpg"
            alt="img"
            class="w-full h-auto object-cover"
          />
          <button
            class="absolute bottom-4 left-1/2 transform -translate-x-1/2 bg-white w-2/3 text-black font-semibold py-2 px-4 rounded-md mb-4 shadow-md"
          >
            Gym
          </button>
        </div>
        <div class="bg-white drop-shadow-sm p-4 relative">
          <img
            src="./images/Actividades/296816699_1099625187306914_2521593514574019051_n.jpg"
            alt="img"
            class="w-full h-auto object-cover"
          />
          <button
            class="absolute bottom-4 left-1/2 transform -translate-x-1/2 bg-white w-2/3 text-black font-semibold py-2 px-4 rounded-md mb-4 shadow-md"
          >
            Discoteca
          </button>
        </div>
        <div class="bg-white drop-shadow-sm p-4 relative">
          <img
            src="./images/Actividades/service-3-950x1425.jpg"
            alt="img"
            class="w-full h-auto object-cover"
          />
          <button
            class="absolute bottom-4 left-1/2 transform -translate-x-1/2 bg-white w-2/3 text-black font-semibold py-2 px-4 rounded-md mb-4 shadow-md"
          >
            Restaurante
          </button>
        </div>
        <div class="bg-white drop-shadow-sm p-4 relative">
          <img
            src="./images/Actividades/sandboarding-dunas-950x445.jpeg"
            alt="img"
            class="w-full h-full object-cover"
          />
          <button
            class="absolute bottom-4 left-1/2 transform -translate-x-1/2 bg-white w-2/3 text-black font-semibold py-2 px-4 rounded-md mb-4 shadow-md"
          >
            Dunas
          </button>
        </div>
      </div>
    </div>
  </div>
</app-postbanner-design>
<app-footer />
