<app-banner-info
  [title]="'Filosofía del hotel'"
  [description]="
    'El Hotel Royal Ica ofrece a sus huéspedes un destino para reconectarse.      Desde el corazón de las majestuosas dunas de Huacachina, ponemos alma y      corazón para introducir a los que prefieren tomar un descanso y a los que buscan explorar el mundo de una forma emocionante.'
  "
  [breadcrumb]="'Filosofía'"
/>
<app-postbanner-design>
  <h3 header class="text-5xl text-yellow-600 font-bold text-center mb-10">
    Lo que ofrecemos para usted
  </h3>

  <p content class="text-center mb-20 text-black">
    En Hotel Royal Ica rechazamos lo estándar para brindarles un alojamiento
    carismático y con personalidad.Nuestras modernas instalaciones, inauguradas
    en el 2022, se encuentra a menos de 1.5 km. De la Laguna de Huacachina por
    lo que los huéspedes pueden llegar incluso caminando o en nuestras
    bicicletas, contamos con tablas de sandboarding de uso gratuito para que
    puedan disfrutar de este deporte en las dunas que rodean el hotel.Disfruta
    de nuestra piscina, exquisitos desayunos, habitaciones con vistas a la
    piscina y al desierto y mucho más en La Estancia Hotel Ica.
  </p>
</app-postbanner-design>

<app-footer />
